<div class="row" [ngClass]="{'completed': item.completed}">
  <div class="title">
    <input type="checkbox" [checked]="item.completed" (change)="onToggle(item)">
    {{item.title}}
  </div>

<div class="time">
  <p>{{ formatTime(item.time) }}</p>
</div>

<div class="timeLeft">
  <p>{{ formatTime(item.timeDone) }}</p>
</div>

<div class="total">
  <p>{{ formatTime(item.time - item.timeDone) }}</p>
</div>

  <div class="actions">
<button (click)="onAskDelete(item)">
  {{ getDeleteButtonText() }}
</button>



  </div>
</div>




<div class="confirm-dialog" *ngIf="showConfirmDialog">
  <div class="confirm-content" #modalBox>
    <div class="confirm-header" (mousedown)="startDragging($event)">
      {{getTranslation('Confirm') }}
    </div>
    <p>{{  getTranslation('Are you sure you want to eliminate this task?') }}</p>
    <div class="confirm-buttons">
      <button (click)="confirmDelete()">✔️ {{  getTranslation('Yes') }}</button>
      <button (click)="closeDialog()">❌ {{ getTranslation('No') }}</button>
    </div>
  </div>
</div>
