<div class="layout">

  <header class="menu">
    <nav>
      <ul>
        <li><a routerLink="/" [innerHTML]="getTranslation('Main Page')" i18n="@@Main Page"></a></li>
        <li><a routerLink="/add" [innerHTML]="getTranslation('Add New Task')" i18n="@@Add New Task"></a></li>
        <li><a routerLink="/app-counter-page" [innerHTML]="getTranslation('Timers')" i18n="@@Timers"></a></li>
        <li><a routerLink="/app-calendar" [innerHTML]="getTranslation('Calendar')" i18n="@@Calendar"></a></li>
        <li><a routerLink="/app-color-puzzle" [innerHTML]="getTranslation('Game')" i18n="@@Game"></a></li>
        <li><a routerLink="/app-config" [innerHTML]="getTranslation('Configuration')" i18n="@@Configuration"></a></li>
      </ul>
    </nav>

  <div class="qr-block">
          <h3 class="qr-title"> 🎧 {{ getTranslation('Background Music?') }}</h3>

            <div class="qr-container">
            <qrcode [qrdata]="'https://www.youtube.com/watch?v=jfKfPfyJRdk'"
            [width]="128"
            [errorCorrectionLevel]="'M'"></qrcode>
  </div>
          <a class="qr-link" href="https://www.youtube.com/live/jfKfPfyJRdk?si=sM0dc3wvtc-5c3jt"target="_blank" rel="noopener noreferrer">
          🔗 Lofi Music
      </a>
  </div>



  </header>



  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
