<div class="counter-page">
  <h1>{{ 'TimerManagementTitle' | translate }}</h1>

  <button class="add-timer-btn" (click)="openAddTimerDialog()">
    {{ 'AddTimerBtn' | translate }}
  </button>

  <div class="timers-container">
    <div *ngFor="let timer of timers" class="timer-box">
      <div class="timer">
        <p>
          <strong>{{ timer.name }}</strong>: {{ formatTime(timer.remaining) }}
          <span *ngIf="timer.isResting" class="rest-label">{{ 'RestLabel' | translate }}</span>
        </p>

        <div class="button-group">
          <button *ngIf="!timer.isStarted" (click)="startTimer(timer)">
            {{ 'BeginBtn' | translate }}
          </button>
          <button *ngIf="timer.isStarted && !timer.isPaused" (click)="pauseTimer(timer)">
            {{ 'PauseBtn' | translate }}
          </button>
          <button *ngIf="timer.isStarted && timer.isPaused" (click)="resumeTimer(timer)">
            {{ 'ResumeBtn' | translate }}
          </button>
          <button (click)="resetTimer(timer)">
            {{ 'RestartBtn' | translate }}
          </button>
        </div>
      </div>

      <button class="delete-button" (click)="removeTimer(timer.id)"> {{ 'RemoveBtn' | translate }}</button>
    </div>
  </div>

  <div class="dialog" *ngIf="isDialogOpen">
    <h2>{{ 'AddNewTimerTitle' | translate }}</h2>

    <label>
      {{ 'TimerNameLabel' | translate }}
      <input type="text" [(ngModel)]="timerName" />
    </label>

    <label>
      {{ 'HoursLabel' | translate }}
      <input type="number" [(ngModel)]="hours" min="0" />
    </label>

    <label>
      {{ 'MinutesLabel' | translate }}
      <input type="number" [(ngModel)]="minutes" min="0" max="59" />
    </label>

    <label>
      {{ 'SecondsLabel' | translate }}
      <input type="number" [(ngModel)]="seconds" min="0" max="59" />
    </label>

    <label>
      {{ 'RepeatLabel' | translate }}
      <input type="checkbox" [(ngModel)]="repeat" />
    </label>

    <div *ngIf="repeat">
      <label>
        {{ 'RestPeriodLabel' | translate }}
        <input type="number" [(ngModel)]="restMinutes" />
      </label>
    </div>
    
    <button (click)="confirmAddTimer()">{{ 'ConfirmBtn' | translate }}</button>
    <button (click)="closeDialog()">{{ 'CancelBtn' | translate }}</button>
  </div>
</div>
