<div class="puzzle-container">
  <h2>{{ 'Color Puzzle' | translate }}</h2>
  <p>{{ 'Goal' | translate }}: <span [style.color]="goalColor">{{ goalColor }}</span></p>
  <p>{{ 'Moves left' | translate }}: {{ movesLeft }}</p>

  <div class="color-selector">
    <label *ngFor="let color of colors" class="color-option">
      <input type="radio" name="color" [value]="color" [(ngModel)]="selectedColor" />
      <span [ngStyle]="{ 'background-color': color }" class="color-box"></span>
    </label>
  </div>

  <div class="grid">
    <div
      *ngFor="let row of grid; let y = index"
      class="row"
    >
      <div
        *ngFor="let cell of row; let x = index"
        class="cell"
        [ngStyle]="{ 'background-color': cell }"
        (click)="handleClick(x, y)"
      ></div>
    </div>
  </div>

  <div *ngIf="gameWon" class="game-message win">
    🎉 {{ 'You won!' | translate }}
  </div>
  <div *ngIf="gameOver && !gameWon" class="game-message lose">
    😞 {{ 'Game over!' | translate }}
  </div>

  <button (click)="resetGame()">{{ 'Restart' | translate }}</button>
</div>
