/* Tema claro (default) */
.light-theme {
  --primary-color: #29d69f;
  --button-bg: #ff8a00;
  --button-hover: #e77b00;
  --content-bg: #ecebc3;
  --text-color: #333;
  --h1-color: #2d4b36;
  --h1-bg-gradient: linear-gradient(45deg, #6d9b6b, #a1d6a0);
  --theme-toggle-bg: rgba(0, 0, 0, 0.1);
}

/* Tema oscuro */
.dark-theme {
  --primary-color: #1a9d7a;
  --button-bg: #d67600;
  --button-hover: #c56e00;
  --content-bg: #333;
  --text-color: #e0e0e0;
  --h1-color: #a1d6a0;
  --h1-bg-gradient: linear-gradient(45deg, #4a7c48, #7aa379);
  --theme-toggle-bg: rgba(255, 255, 255, 0.1);
}

/* Aplicar estilos usando las variables */
.header-container {
  background-color: var(--primary-color) !important;
}

.content-container {
  background-color: var(--content-bg) !important;
  color: var(--text-color) !important;
}

.main-title {
  color: var(--h1-color);
  background: var(--h1-bg-gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.theme-toggle-btn {
  background-color: var(--theme-toggle-bg);
}
