<div class="container">
  <div class="total-box">
  <span>{{ message }}</span>
  <h2>{{ total }}</h2>
  </div>


  <div class="row header-row" >
<div class="header-label" style="margin-right: 8 rem;">{{ getTranslation('Title') }}</div>
<div class="header-label" style="margin-left: 11.5rem;">{{ getTranslation('Total Time') }}</div>
<div class="header-label">{{ getTranslation('Time Done') }}</div>
<div class="header-label">{{ getTranslation('Time Left') }}</div>
<div class="header-label">{{ getTranslation('Action') }}</div>

  </div>
</div>
