<div class="container">
  <div class="total-box">
  <span>{{ message }}</span>
  <h2>{{ total }}</h2>
  </div>


  <div class="row header-row" >
    <div class="title" style="margin-right: 11rem; margin-top: 0.5rem;">
      <strong>{{ getTranslation('Title') }}</strong>
    </div>
    <div class="time" style="margin-left: 1rem;margin-top: 0.5rem;">
      <strong>{{ getTranslation('Total Time') }}</strong>
    </div>
    <div class="timeLeft" style="margin-bottom: 1rem;margin-top: 0.5rem;">
      <strong>{{ getTranslation('Time Done') }}</strong>
    </div>
    <div class="total" style="margin-bottom: rem;margin-top: 0.5rem;">
      <strong>{{ getTranslation('Time Left') }}</strong>
    </div>
    <div class="actions" style="margin-bottom: 1rem;margin-top: 0.5rem;">
      <strong >{{ getTranslation('Action') }}</strong>
    </div>
  </div>
</div>
