:root {
  /* Colores principales */
  --background-color: #ecebc3; /* Fondo claro, como crema */
  --text-color: #05611f; /* Texto principal en verde profundo */
  --card-background: #FFFFFF; /* Fondo blanco para tarjetas o contenedores */

  /* Colores secundarios */
  --menu-background: #0B6623; /* Verde oliva para el menú lateral */
  --header-background: #8B4513; /* Marrón tierra para el encabezado */

  /* Colores de acento */
  --button-primary: #0B6623; /* Verde profundo para botones principales */
  --button-hover: #66FF66; /* Verde neón para botones al pasar el mouse */
  --accent-color: #FDD835; /* Amarillo suave para acentos */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}
.body{
  background-color: var(--background-color);
}
