:root {
  /* Colores principales */
  --background-color: #ecebc3; /* Fondo claro, como crema */
  --text-color: #05611f; /* Texto principal en verde profundo */
  --card-background: #FFFFFF; /* Fondo blanco para tarjetas o contenedores */

  /* Colores secundarios */
  --menu-background: #0B6623; /* Verde oliva para el menú lateral */
  --header-background: #8B4513; /* Marrón tierra para el encabezado */

  /* Colores de acento */
  --button-primary: #0B6623; /* Verde profundo para botones principales */
  --button-hover: #66FF66; /* Verde neón para botones al pasar el mouse */
  --accent-color: #FDD835; /* Amarillo suave para acentos */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}
body.dark-mode {
  --background-color: #121212; /* Negro relajante */
  --text-color: #ffffff; /* Letras blancas */
  --card-background: #1e1e1e;
  --menu-background: #1a1a1a;
  --header-background: #551c4f;
  --accent-color: #c79df2; /* Morado suave */
  --button-primary: #674ea7; /* Morado profundo */
  --button-hover: #845ec2;

  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode .main-title {
  color: var(--accent-color);
  background: none;
  box-shadow: none;
  text-shadow: 2px 2px 4px rgba(199, 157, 242, 0.5);
}

body.dark-mode .header-container {
  background-color: var(--header-background);
}

body.dark-mode .content-container {
  background-color: var(--card-background);
}

.calendar-toast {
  position: fixed;
  bottom: 80px;
  right: 30px;
  background-color: #5eee78;
  color: #333;
  padding: 1.2rem 1.8rem;
  border-left: 6px solid #128a46;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-weight: 500;
  z-index: 1000;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  max-width: 300px;
  line-height: 1.5;
}

.calendar-toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-close-btn {
  background: transparent;
  border: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: color 0.2s ease;
}

.toast-close-btn:hover {
  color: #c62828; /* rojo al pasar el cursor */
}


